{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    
    {% load cropping %}
<!-- Breadcrumb -->
<div class="container">
    <ol class="breadcrumb">
        <li><a href="{% url "home" %}">Home</a></li>
        <li class="active">News</li>
    </ol>
</div>
<!-- end Breadcrumb -->
<!-- Page Content -->
<div id="page-content">
    <div class="container">
        <div class="row">
            <!--MAIN Content-->
            <div class="col-md-8">
                <div id="page-main">
                    <section class="blog-listing" id="blog-listing">
                        <header><h1>News</h1></header>
                        
                        {% for  n in news %}
                        <div class="row">
                            <div class="col-md-6 col-sm-6">
                                <article class="blog-listing-post">
                                    <figure class="blog-thumbnail">
                                        <figure class="blog-meta"><span class="fa fa-file-text-o"></span>{{n.created|date:"d-m-Y"}}</figure>
                                        <div class="image-wrapper"><a href="{% url 'news_detail' n.id %}"><img src="{% cropped_thumbnail n  "cropping"  scale=0.5 %}"></a></div>
                                    </figure>
                                    <aside>
                                        <header>
                                            <a href="{% url 'news_detail' n.id %}"><h3>{{n.caption}} </h3></a>
                                        </header>
                                        <div class="description">
                                            <p>
                                                
                                             {{n.story}}

                                            </p>
                                        </div>
                                        <a href="{% url 'news_detail' n.id %}" class="read-more stick-to-bottom">Read More</a>
                                    </aside>
                                </article><!-- /article -->
                            </div><!-- /.col-md-6 -->
                             
                        {% if forloop.counter|divisibleby:2 %}
                        </div><!-- /.row -->
                    {% endif %}
{% endfor %}
                         

                    </section><!-- /.blog-listing -->
                    <div class="center">
                        <ul class="pagination">
                            {% if news.has_previous %}
                            <li class="active"><a href="?page={{news.previous_page_number}}">Prev</a></li>
                        {% endif %}
                            <li><a href="#">{{ news.number}} / {{news.paginator.num_pages}}</a></li>
                           {% if news.has_next %}
                            <li class="active"><a href="?page={{news.next_page_number}}">Next</a></li>
                        {% endif %}
                        </ul>
                    </div>
                </div><!-- /#page-main -->
            </div><!-- /.col-md-8 -->

            <!--SIDEBAR Content-->
            <div class="col-md-4">
                <div id="page-sidebar" class="sidebar">
                     
                    <aside id="newsletter">
                        <header>
                            <h2>Newsletter</h2>
                            <div class="section-content">
                               {% include "publicpages/nlform.html" %}
                            </div><!-- /.section-content -->
                        </header>
                    </aside><!-- /.newsletter -->
                     
                </div><!-- /#sidebar -->
            </div><!-- /.col-md-4 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</div>
<!-- end Page Content -->



{% endblock %}