{% load staticfiles %}
<div id="slider">
    <div class="container">
        <div class="slider-wrapper">
            <div class="row">
                <div class="col-md-9 col-sm-12">
                    <div class="row">
                        <div class="image-carousel">
                            <div class="slide">
                                <div class="col-md-4 col-sm-4">
                                    <h1>Welcome to Primegate International Academy</h1>
                                    <p>
                                        The complete individuality of your child/ward is our utmost concern      </p>
                                    <a href="#" class="btn btn-framed btn-small btn-color-white">View Details</a>
                                </div><!-- /.col-md-4 -->
                                <div class="col-md-8 col-sm-8">
                                    <div class="image-carousel-slide"><img src="{% static "img/slide-2.jpg" %}" alt=""></div>
                                </div><!-- /.col-md-8 -->
                            </div><!-- /.slide -->
                            <div class="slide">
                                <div class="col-md-4 col-sm-4">
                                    <h1>Primegate Academy</h1>
                                    <p>
                                        Pioneering a balance in child education and moral value       </p>
                                    <a href="#" class="btn btn-framed btn-small btn-color-white">View Details</a>
                                </div><!-- /.col-md-4 -->
                                <div class="col-md-8 col-sm-8">
                                    <div class="image-carousel-slide"><img src="{% static "img/slide-1.jpg" %}" alt=""></div>
                                </div><!-- /.col-md-8 -->
                            </div><!-- /.slide -->
                        </div><!-- /.image-carousel -->
                    </div><!-- /.row -->
                </div><!-- /.col-md-9 -->

                <div class="col-md-3 col-sm-12">
                    <aside class="news-small" id="news-slider">
                        <header>
                            <h2>Related News</h2>
                        </header>
                        <div class="section-content">
                            <article>
                                <header><i class="fa fa-file-o"></i><a href="#">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</a></header>
                            </article><!-- /article -->
                            <article>
                                <header><i class="fa fa-file-o"></i><a href="#">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</a></header>
                            </article><!-- /article -->
                            <article>
                                <header><i class="fa fa-file-o"></i><a href="#">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</a></header>
                            </article><!-- /article -->
                        </div><!-- /.section-content -->
                        <a href="#" class="read-more">All News</a>
                    </aside><!-- /.news-small -->
                </div><!-- /.col-md-3 -->

            </div><!-- /.row -->
        </div><!-- /.slider-wrapper -->
    </div><!-- /.container -->
</div>