{% load staticfiles %}
<div id="slider">
    <div class="container">
        <div class="slider-wrapper">
            <div class="row">
                <div class="col-md-9 col-sm-12">
                    <div class="row">
                        <div class="image-carousel">
                            <div class="slide">
                                <div class="col-md-4 col-sm-4">
                                    <h1>Welcome to Primegate International Academy</h1>
                                    <p>
                                        The complete individuality of your child/ward is our utmost concern      </p>
                                    <a href="#" class="btn btn-framed btn-small btn-color-white">View Details</a>
                                </div><!-- /.col-md-4 -->
                                <div class="col-md-8 col-sm-8">
                                    <div class="image-carousel-slide"><img src="{% static "img/3.jpg" %}" alt=""></div>
                                </div><!-- /.col-md-8 -->
                            </div><!-- /.slide -->
                            <div class="slide">
                                <div class="col-md-4 col-sm-4">
                                    <h1>Primegate Academy</h1>
                                    <p>
                                        Pioneering a balance in child education and moral value       </p>
                                    <a href="#" class="btn btn-framed btn-small btn-color-white">View Details</a>
                                </div><!-- /.col-md-4 -->
                                <div class="col-md-8 col-sm-8">
                                    <div class="image-carousel-slide"><img src="{% static "img/4.jpg" %}" alt=""></div>
                                </div><!-- /.col-md-8 -->
                            </div><!-- /.slide -->
							
							
							<div class="slide">
                                <div class="col-md-4 col-sm-4">
                                    <h1>Primegate Academy</h1>
                                    <p>
                                        Pioneering a balance in child education and moral value       </p>
                                    <a href="#" class="btn btn-framed btn-small btn-color-white">View Details</a>
                                </div><!-- /.col-md-4 -->
                                <div class="col-md-8 col-sm-8">
                                    <div class="image-carousel-slide"><img src="{% static "img/6.jpg" %}" alt=""></div>
                                </div><!-- /.col-md-8 -->
                            </div><!-- /.slide -->
							{% load cropping %}
							{% for b in banners %}
								
								<div class="slide">
                                <div class="col-md-4 col-sm-4">
                                    <h1>{{ b.caption }}</h1>
                                    <p>
                                        {{ b.brief_info }}      </p>
									{% if b.url %}
                                    <a href="#" class="btn btn-framed btn-small btn-color-white">View Details</a>
                                {% endif %}
								</div><!-- /.col-md-4 -->
                                <div class="col-md-8 col-sm-8">
                                    <div class="image-carousel-slide"><img src="{% cropped_thumbnail b "cropping" scale=0.5  %}" alt=""></div>
                                </div><!-- /.col-md-8 -->
                            </div><!-- /.slide -->
							{% endfor %}
                        </div><!-- /.image-carousel -->
                    </div><!-- /.row -->
                </div><!-- /.col-md-9 -->

                <div class="col-md-3 col-sm-12">
                    <aside class="news-small" id="news-slider">
                        <header>
                            <h2>Related News</h2>
                        </header>
                        <div class="section-content">
							{% for n in news %}
                            <article>
                                <header><i class="fa fa-file-o"></i>
									<a href="{% url 'news_detail' n.id %}">
										{{ n.caption }}
											</a></header>
                            </article><!-- /article -->
							
						{% endfor %}
                            
                        </div><!-- /.section-content -->
                        <a href="#" class="read-more">All News</a>
                    </aside><!-- /.news-small -->
                </div><!-- /.col-md-3 -->

            </div><!-- /.row -->
        </div><!-- /.slider-wrapper -->
    </div><!-- /.container -->
</div>