<!DOCTYPE html>

<html lang="en-US">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Le Proghrammeen Solutions">
    {% load staticfiles %}
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.min.css" media="all" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.css" %}" type="text/css">
    <link rel="stylesheet" href="{% static "css/selectize.css" %}" type="text/css">
    <link rel="stylesheet" href="{% static "css/owl.carousel.css" %}" type="text/css">
    <link rel="stylesheet" href="{% static "css/vanillabox/vanillabox.css" %}" type="text/css">

    <link rel="stylesheet" href="{% static "css/style.css" %}" type="text/css">

    <title>Primegate International Academy</title>

</head>

<body class="{{cssClass}}">
<!-- Wrapper -->
<div class="wrapper">
{% include "header.html" %}
{% block content %}

{% endblock %}
<!-- end Page Content -->
{% include "footer.html" %}
</div>
<!-- end Wrapper -->

<script type="text/javascript" src="{% static "js/jquery-2.1.0.min.js" %} "></script>
<script type="text/javascript" src="{% static "js/jquery-migrate-1.2.1.min.js" %}"></script>
<script type="text/javascript" src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/selectize.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/owl.carousel.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/jquery.validate.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/jquery.placeholder.js" %}"></script>
<script type="text/javascript" src="{% static "js/jQuery.equalHeights.js" %}"></script>
<script type="text/javascript" src="{% static "js/icheck.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/jquery.vanillabox-0.1.5.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/retina-1.1.0.min.js" %}"></script>

<script type="text/javascript" src="{% static "js/custom.js" %}"></script>

</body>
</html>