{%  load staticfiles %}
<!-- Footer -->
<footer id="page-footer">
    <section id="footer-content">
        <div class="container">
            <div class="row">
                     <div class="col-md-3 col-sm-4">
                    <aside>
                        <header><h4>About Us</h4></header>
                        <p>
                            Prime Gate Academy is located in Abuja the Central City of Nigeria. The school officially admitted its first batch of students in September 2014, giving students great opportunities to grow, discover their unique gifts and skills in all academic level and brings out their talents.
                           </p>
                        <div>
                            <a href="{% url "about" %}" class="read-more">About Us</a>
                        </div>
                    </aside>
                </div><!-- /.col-md-3 -->
            <div class="col-md-3 col-sm-4">
                    <aside>
                        <header><h4>Important Links</h4></header>
                        <ul class="list-links">
                            <!--<li><a href="#">Future Students</a></li>-->
                          
                           
                            <!--<li><a href="#">Enroll your child</a></li>-->
							 <li><a href="/admin">Staff Login</a></li>
							  <li><a href="{% url 'home' %}">Home</a></li>
                        </ul>
                    </aside>
                </div><!-- /.col-md-3 -->
				<div class="col-md-3 col-sm-4">
                    <aside>
                        <header><h4>Contact Us</h4></header>
                        <address>
                            <strong>Primegate International Academy</strong>
                            <br>
                            <span>Brickcity Estate, Kubwa.</span>
                            <br>
                            <span>Abuja, Nigeria</span>
                            <br>
                            <abbr title="Telephone">Telephone:</abbr> 080-343-580-89
                            <br>
                            <abbr title="Email">Email:</abbr> <a href="#">info@primegateacademy.com</a>
                        </address>
                    </aside>
                </div><!-- /.col-md-3 -->
                
				<div class="col-md-3 col-sm-12">
                    <aside class="logo">
                         <header><h4>Follow Us</h4></header>
                        <div class="icons" style="font-size:30px;">
						<a href="#"><i class="fa fa-twitter" ></i></a>
                       <a href="#"><i class="fa fa-facebook"></i></a>
                       <a href="#"><i class="fa fa-pinterest"></i></a>
                        <a href="#"><i class="fa fa-youtube-play"></i></a>
                    </div><!-- /.icons -->
						
                    </aside>
                </div><!-- /.col-md-3 -->
                
           </div><!-- /.row -->
        </div><!-- /.container -->
        <div class="background"><img src="{% static "img/background-city.png" %}" class="" alt=""></div>
    </section><!-- /#footer-content -->

    <section id="footer-bottom">
        <div class="container">
            <div class="footer-inner">
                <div class="copyright"> All rights reserved   <strong>Primegate International Academy </strong>,© {{ theyear }}.</div>
               <div class="copyright pull-right">  Designed & Development : <strong>Le Proghrammeen Solutions </strong></div>
                
                <!-- /.copyright -->
            </div><!-- /.footer-inner -->
        </div><!-- /.container -->
    </section><!-- /#footer-bottom -->

</footer>
<!-- end Footer -->
