{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<!-- Breadcrumb -->
<div class="container">
    <ol class="breadcrumb">
        <li><a href="{% url "home" %}">Home</a></li>
        <li class="active">About Us</li>
    </ol>
</div>
<!-- end Breadcrumb -->

<!-- Page Content -->
<div id="page-content">
    <div class="container">
        <div class="row">
            <!--MAIN Content-->
            <div class="col-md-12">
                <div id="page-main">
                    <section id="about">
                        <header><h1>About Primegate International Academy</h1></header>
                        <img src="{% static "img/about-us-head-img.jpg" %}"><br/>
                            
                            <h2>History </h2>
                            <p>
                                Prime Gate Academy is located in Abuja the Central City of Nigeria. The school officially admitted its first batch of students in September 2014, giving students great opportunities to grow, discover their unique gifts and skills in all academic level and brings out their talents. The curriculum of the school covers all aspects of personal growth to enable the students grow both inside and out of the educational background for future references. Both academic and vocational courses as well as wide electives are taught in the school.
Prime Gate Academy is all about academic excellence, good morals, knowledge and success, in a secure and peaceful environment suitable for the student. The school takes advantage of the opportunities and challenges of the vibrant society by taping in all the skills around us, which are enhanced in new technology for advancing knowledge for our students. We use an integrated approach to learning such that the child is not confined only to classroom but is taught through tutorials, group work and interactive learning as well as methods that are more conventional. Prime Gate Academy places emphasis on the professionalism and culture of excellence for her staff. We provide full-scale basic education. Our teachers have productive knowledge of the pupils/students. 
                            </p>
                        <h2>Mission & Purpose</h2>
                        <p>
                            <ul class="list-links">
                            <li><a href="#"> A place where children’s individuality is fully respected and cherished</a></li>
                            <li><a href="#">A place where a child will be treated with love, kindness, patience, courtesy they fully deserve</a></li>
                            <li><a href="#">A place where pupils can reach their full potential.</a></li>
                            <li><a href="#">A place where pupils can feel safe, secured in a positive environment for exceptional learning </a></li>
                            <li><a href="#"> 
A place where we ensure the effectiveness of a pupil and enable him understand his academic level.</a></li>
                         
                           
 


                        </ul>
                        </p>
                        <h2>Vision</h2>
                        <p>
                              To be a renowned school in Nigeria that is dedicated to ensure necessary life skills for children to learn sure footing challenges of the world and a sense of development to themselves and preparation of higher institution.

                        </p>
                        
						
                    </section>
                </div><!-- /#page-main -->
            </div><!-- /.col-md-12 -->

       </div><!-- /.row -->
    </div><!-- /.container -->
</div>
<!-- end Page Content -->


{% endblock %}