{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<!-- Breadcrumb -->
<div class="container">
    <ol class="breadcrumb">
        <li><a href="{% url "home" %}">Home</a></li>
        <li class="active">About Us</li>
    </ol>
</div>
<!-- end Breadcrumb -->

<!-- Page Content -->
<div id="page-content">
    <div class="container">
        <div class="row">
            <!--MAIN Content-->
            <div class="col-md-12">
                <div id="page-main">
                    <section id="about">
                        <header><h1>About Primegate International Academy</h1></header>
                        <img src="{% static "img/about-us-head-img.jpg" %}"><br/>
                        <h2>Mission & Purpose</h2>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse et urna fringilla,
                            volutpat elit non, tristique Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer leo lorem,
                            vehicula eget ligula et, malesuada pharetra est. Etiam diam metus, luctus eu commodo quis, condimentum
                            eu mauris. Suspendisse potenti. Curabitur et mauris laoreet lorem pellentesque volutpat. Sed bibendum,
                            tortor in ornare sodales, sem augue suscipit tortor, auctor placerat nisi justo vel mauris. In convallis
                            nunc nunc, in tincidunt leo volutpat et. Donec in consequat lorem.
                        </p>
                        <h2>Bold History that Fuels the Future</h2>
                        <p>
                            Aenean volutpat aliquet diam, id venenatis nisi faucibus sit amet. In hac habitasse platea dictumst.
                            Integer vel sem est. Nulla pharetra, justo vitae placerat dapibus, dui massa pellentesque magna, a
                            sagittis magna lorem a massa. Integer convallis augue eu felis euismod, vel iaculis velit pretium.
                            Nam et diam ut sem aliquet ultrices non eu ante.lectus. Nam blandit odio nisl, ac malesuada lacus
                            fermentum sit amet. Vestibulum vitae aliquet felis, ornare feugiat elit. Nulla varius condimentum
                            elit, sed pulvinar leo sollicitudin vel.
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse et urna fringilla,
                            volutpat elit non, tristique Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer leo lorem,
                            vehicula eget ligula et, malesuada pharetra est. Etiam diam metus, luctus eu commodo quis, condimentum
                            eu mauris. Suspendisse potenti.
                        </p>
						
                    </section>
                </div><!-- /#page-main -->
            </div><!-- /.col-md-12 -->

       </div><!-- /.row -->
    </div><!-- /.container -->
</div>
<!-- end Page Content -->


{% endblock %}