{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

 <!-- Breadcrumb -->
<div class="container">
    <ol class="breadcrumb">
        <li><a href="{% url "home" %}">Home</a></li>
        <li class="active">Contact Us</li>
    </ol>
</div>
<!-- end Breadcrumb -->

<!-- Page Content -->
<div id="page-content">
    <div class="container">
        <div class="row">
            <!--MAIN Content-->
            <div class="col-md-8">
                <div id="page-main">
                    <section id="contact">
                        <header><h1>Contact Us</h1></header>
                        <div class="row">
                            <div class="col-md-6">
                                <address>
                                    <h3>Primegate  International Academy </h3>
                                    <br>
                                    <span>Brickcity Estate, Kubwa </span>
                                    <br><br>
                                    <span>Abuja, Nigeria. </span>
                                    <br>
                                    <abbr title="Telephone">Telephone:</abbr> 080-343-580-89 
                                    <br>
                                    <abbr title="Email">Email:</abbr> <a href="#">info@primegateacademy.com</a>
                                </address>
                                <div class="icons">
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-pinterest"></i></a>
                                    <a href="#"><i class="fa fa-youtube-play"></i></a>
                                </div><!-- /.icons -->
                                <hr>
                                <p>
                                We are always available within working hours to discuss all your concerns
                                about educating your child at Primegate International Academy.
                                Do visit or send us an email.
                                </p>
                            </div>
                            <div class="col-md-6">
                                <div class="map-wrapper">
                                    <iframe
                                            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3939.262101538006!2d7.271167999999999!3d9.130782999999997!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x104dd81b79066349%3A0x367d042227b08c21!2sPrimegate+International+Academy!5e0!3m2!1sen!2sng!4v1416479661288"
                                            width="100%" height="350" frameborder="0" style="border:0"></iframe>
                                    </div>
                            </div>
                        </div>
                    </section>
                    <section id="contact-form" class="clearfix">
                      
                        <header>
                            
                            <h2>Send Us a Message</h2>
                       
                        
                        
                        </header>
                       <ul
                            class="messages">
    {% for message in messages %}
    {% if message.tags == 'error' %}
     <div class="alert alert-danger">{{ message }}
     {% else %}    
    <div {% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>{{ message }}
    {% endif %}
    </div>
    {% endfor %}
</ul>
                        <form class="contact-form" id="contactform" method="post" action="{% url "contact" %}">
                            {% csrf_token %}
                            
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="input-group">
                                        <div class="controls">
                                            <label for="name">Your Name</label>
                                           
                                                {{ form.name }}
                                        </div><!-- /.controls -->
                                    </div><!-- /.control-group -->
                                </div><!-- /.col-md-4 -->
                                <div class="col-md-6">
                                    <div class="input-group">
                                        <div class="controls">
                                            <label for="email">Your Email</label>
                                          {{form.email}}
                                        </div><!-- /.controls -->
                                    </div><!-- /.control-group -->
                                </div><!-- /.col-md-4 -->
                            </div><!-- /.row -->
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="input-group">
                                        <div class="controls">
                                            <label for="message">{{ form.subject.label }}</label>
                                          {{form.subject}}
                                        </div><!-- /.controls -->
                                    </div><!-- /.control-group -->
                                </div><!-- /.col-md-4 -->
                            </div><!-- /.row -->
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="input-group">
                                        <div class="controls">
                                            <label for="message">{{ form.message.label }}</label>
                                          {{form.message}}
                                        </div><!-- /.controls -->
                                    </div><!-- /.control-group -->
                                </div><!-- /.col-md-4 -->
                            </div><!-- /.row -->
                      
                            <div class="pull-right">
                                <input type="submit" class="btn btn-color-primary" id="submit" value="Send a Message">
                            </div><!-- /.form-actions -->
                            <div id="form-status"></div>
                        </form><!-- /.footer-form -->
                    </section>
                </div><!-- /#page-main -->
            </div><!-- /.col-md-8 -->

            <!--SIDEBAR Content-->
            <div class="col-md-4">
                <div id="page-sidebar" class="sidebar">
                    <aside class="news-small" id="news-small">
                        <header>
                            <h2>Related News</h2>
                        </header>
                        <div class="section-content">
                           {% include "news/related_news.html" %}
                            
                        </div><!-- /.section-content -->
                        <a href="#" class="read-more">All News</a>
                    </aside><!-- /.news-small -->
                    <aside id="newsletter">
                        <header>
                            <h2>Newsletter</h2>
                            <div class="section-content">
                               {% include "publicpages/nlform.html" %}
                            </div><!-- /.section-content -->
                        </header>
                    </aside><!-- /.newsletter -->
                </div><!-- /#sidebar -->
            </div><!-- /.col-md-4 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</div>
<!-- end Page Content -->

{% endblock %}