{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}



<!-- Breadcrumb -->
<div class="container">
    <ol class="breadcrumb">
        <li><a href="{% url "home"%}">Home</a></li>
        <li class="active">The Primegate Team</li>
    </ol>
</div>
<!-- end Breadcrumb -->

<!-- Page Content -->
<div id="page-content">
    <div class="container">
        <div class="row">
            <!--MAIN Content-->
            <div class="col-md-8">
                <div id="page-main">
                    <section id="members">
                        <header><h1>The Primegate Team</h1></header>
                        <section id="our-speakers">
                           <div class="author-block course-speaker">
                                <a href="#"><figure class="author-picture"><img src="{% static "img/student-testimonial.jpg" %}" alt=""></figure></a>
                                <article class="paragraph-wrapper">
                                    <div class="inner">
                                        <header><a href="member-detail.html">Lorem Ipsum</a></header>
                                        <figure> Lorem Ipsum</figure>
                                        <p>
                                           Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                                        </p>
                                    </div>
                                </article>
                            </div><!-- /.author -->
                            <div class="author-block course-speaker">
                                <a href="member-detail.html"><figure class="author-picture"><img src="img/student-testimonial.jpg" alt=""></figure></a>
                                <article class="paragraph-wrapper">
                                    <div class="inner">
                                        <header><a href="member-detail.html">Lorem Ipsum</a></header>
                                        <figure> Lorem Ipsum</figure>
                                        <p>
                                           Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                                        </p>
                                    </div>
                                </article>
                            </div><!-- /.author -->
                             <div class="author-block course-speaker">
                                <a href="member-detail.html"><figure class="author-picture"><img src="img/student-testimonial.jpg" alt=""></figure></a>
                                <article class="paragraph-wrapper">
                                    <div class="inner">
                                        <header><a href="member-detail.html">Lorem Ipsum</a></header>
                                        <figure> Lorem Ipsum</figure>
                                        <p>
                                           Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                                        </p>
                                    </div>
                                </article>
                            </div><!-- /.author -->
                            <div class="author-block course-speaker">
                                <a href="member-detail.html"><figure class="author-picture"><img src="img/student-testimonial.jpg" alt=""></figure></a>
                                <article class="paragraph-wrapper">
                                    <div class="inner">
                                        <header><a href="member-detail.html">Lorem Ipsum</a></header>
                                        <figure> Lorem Ipsum</figure>
                                        <p>
                                           Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                                        </p>
                                    </div>
                                </article>
                            </div><!-- /.author -->
                            <div class="author-block course-speaker">
                                <a href="member-detail.html"><figure class="author-picture"><img src="img/student-testimonial.jpg" alt=""></figure></a>
                                <article class="paragraph-wrapper">
                                    <div class="inner">
                                        <header><a href="member-detail.html">Lorem Ipsum</a></header>
                                        <figure> Lorem Ipsum</figure>
                                        <p>
                                           Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                                        </p>
                                    </div>
                                </article>
                            </div><!-- /.author -->
                            <div class="author-block course-speaker">
                                <a href="member-detail.html"><figure class="author-picture"><img src="img/student-testimonial.jpg" alt=""></figure></a>
                                <article class="paragraph-wrapper">
                                    <div class="inner">
                                        <header><a href="member-detail.html">Lorem Ipsum</a></header>
                                        <figure> Lorem Ipsum</figure>
                                        <p>
                                           Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                                        </p>
                                    </div>
                                </article>
                            </div><!-- /.author -->
                            </section><!-- /#our-speakers -->

                    </section>
                </div><!-- /#page-main -->
            </div><!-- /.col-md-8 -->

            <!--SIDEBAR Content-->
            <div class="col-md-4">
                <div id="page-sidebar" class="sidebar">
                    <aside class="news-small" id="news-small">
                        <header>
                            <h2>Related News</h2>
                        </header>
                        <div class="section-content">
                            <article>
                                <figure class="date"><i class="fa fa-file-o"></i>08-24-2014</figure>
                                <header><a href="#">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</a></header>
                            </article><!-- /article -->
                            <article>
                                <figure class="date"><i class="fa fa-file-o"></i>08-24-2014</figure>
                                <header><a href="#">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</a></header>
                            </article><!-- /article -->
                            <article>
                                <figure class="date"><i class="fa fa-file-o"></i>08-24-2014</figure>
                                <header><a href="#">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</a></header>
                            </article><!-- /article -->
                        </div><!-- /.section-content -->
                        <a href="#" class="read-more">All News</a>
                    </aside><!-- /.news-small -->
                    <aside id="newsletter">
                        <header>
                            <h2>Newsletter</h2>
                            <div class="section-content">
                                <div class="newsletter">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Your e-mail">
                                    <span class="input-group-btn">
                                        <button type="submit" class="btn"><i class="fa fa-angle-right"></i></button>
                                    </span>
                                    </div><!-- /input-group -->
                                </div><!-- /.newsletter -->
                                <p class="opacity-50">Ut tincidunt, quam in tincidunt vestibulum, turpis ipsum porttitor nisi, et fermentum augue
                                    lit eu neque. In at tempor dolor, sit amet dictum lacus. Praesent porta orci eget laoreet ultrices.
                                </p>
                            </div><!-- /.section-content -->
                        </header>
                    </aside><!-- /.newsletter -->
                </div><!-- /#sidebar -->
            </div><!-- /.col-md-4 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</div>
<!-- end Page Content -->

{% endblock %}