{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}



<!-- Breadcrumb -->
<div class="container">
    <ol class="breadcrumb">
        <li><a href="{% url "home"%}">Home</a></li>
        <li class="active">The Primegate Team</li>
    </ol>
</div>
<!-- end Breadcrumb -->

<!-- Page Content -->
<div id="page-content">
    <div class="container">
        <div class="row">
            <!--MAIN Content-->
            <div class="col-md-8">
                <div id="page-main">
                    <section id="members">
                        {% load cropping %}
                        <header><h1>The Primegate Team</h1></header>
                        <section id="our-speakers">
                            
                            {% for t in team %}
                           <div class="author-block course-speaker">
                                <a href="#"><figure class="author-picture"><img src="{% cropped_thumbnail t  "cropping"  scale=0.5 %}" alt="{{ t.name }}"></figure></a>
                                <article class="paragraph-wrapper">
                                    <div class="inner">
                                        <header><a href="#">{{ t.name }}</a></header>
                                        <figure>{{ t.designation }}</figure>
                                        <p>
                                           {{ t.biography }}           </p>
                                    </div>
                                </article>
                            </div><!-- /.author -->
                            
                        {% endfor %}
                            
                            
                            </section><!-- /#our-speakers -->

                    </section>
                </div><!-- /#page-main -->
            </div><!-- /.col-md-8 -->

            <!--SIDEBAR Content-->
            <div class="col-md-4">
                <div id="page-sidebar" class="sidebar">
                    <aside class="news-small" id="news-small">
                        <header>
                            <h2>Related News</h2>
                        </header>
                        <div class="section-content">
                            {% include 'news/related_news.html'%}
                        </div><!-- /.section-content -->
                        <a href="#" class="read-more">All News</a>
                    </aside><!-- /.news-small -->
                    <aside id="newsletter">
                        <header>
                            <h2>Newsletter</h2>
                            <div class="section-content">
                                 {% include 'publicpages/nlform.html'%}
                            </div><!-- /.section-content -->
                        </header>
                    </aside><!-- /.newsletter -->
                </div><!-- /#sidebar -->
            </div><!-- /.col-md-4 -->
            
            
            <div class="center">
                        <ul class="pagination">
                            {% if team.has_previous %}
                            <li class="active"><a href="?page={{team.previous_page_number}}">Prev</a></li>
                        {% endif %}
                            <li><a href="#">{{ team.number}} / {{team.paginator.num_pages}}</a></li>
                           {% if team.has_next %}
                            <li class="active"><a href="?page={{team.next_page_number}}">Next</a></li>
                        {% endif %}
                        </ul>
                    </div>
        </div><!-- /.row -->
    </div><!-- /.container -->
</div>
<!-- end Page Content -->

{% endblock %}